
<div id="profile" class="profile-container" [ngClass]="animationClass">
  <div class="profile-header">
    <button class="close-btn" (click)="closeProfile()">←</button>
    <h3>Settings</h3>
  </div>
  <div class="profile-content">
    <div class="profile-picture">
      <img [src]="avatarURL" alt="Profile" />
    </div>
    <h4>{{user?.username}}</h4>
<!--    <p>last seen recently</p>-->
<!--    <p>+380 93 143 41 51</p>-->
<!--    <p>playtlancher</p>-->

    <ul class="profile-options">
      <li>General Settings</li>
      <li>
        <label for="avatar-upload" class="upload-label">Change avatar</label>
        <input
          id="avatar-upload"
          type="file"
          accept="image/*"
          size="5mb"
          style="display: none;"
          (change)="changeAvatar($event)"
        />
      </li>
      <li>Animations and Performance</li>
      <li>Notifications</li>
      <li>Data and Storage</li>
    </ul>
  </div>
</div>
