<div class="d-flex">


  <div class="flex {{user!.id===message.from?'items-end justify-end':'items-start'}}">
    @if(user!.id !== message.from){
      <img
        [src]="avatarUrlObject"
        alt="avatar"
        class="w-10 h-10 rounded-full mr-2" />
    }
      <div [ngClass]="this.messageStyleClass()">
        <span>{{ message.text }}</span>
        @if (message.files && message.files.length > 0) {
          <div class="file-container mt-2">
            @for (file of message.files;track file.id) {
              <div style="cursor:pointer" (click)="downloadFile(file)" class="file-item bg-indigo-600 p-2 rounded-lg flex items-center mt-1">
                <img ngSrc="/assets/images/file.png" alt="icon" class="w-5 h-5 mr-2" height="225" width="225"/>
                <span class="truncate text-sm">{{ file.name }}</span>
              </div>
            }
          </div>
        }
        <span class="text-xs text-gray-400">{{ message.date | date: 'd MMMM HH:mm' }}</span>
      </div>
    </div>
</div>
