.message {
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 20px;
}
.file-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.file-item {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.file-item img {
  width: 20px;
  height: 20px;
}
.file-item button {
  margin-left: auto;
}
