#activeChat {
  background-image: url("./chat-bg-pattern-dark.ad38368a9e8140d0ac7d.png");
  background-size: cover; /* Заповнює фон блоком */
  background-position: center; /* Центрує фон */
  background-repeat: no-repeat; /* Запобігає повторенню фону */
  mix-blend-mode: unset; /* Вимикає будь-яке змішування кольорів */
}
