#activeChat {
  background-image: url("./chat-bg-pattern-dark.ad38368a9e8140d0ac7d.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: unset;
}
#side-panel{
  border-right: 1px solid #4e45e3;
}
