#activeChat {
  background-image: url("../../../../public/assets/images/chat-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: unset;
}
#side-panel{
  border-right: 1px solid #4e45e3;
  overflow-y: auto;
  max-height: 100vh;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
