.d-flex{
  display: flex !important;
}
.pos-absolute{
  position: absolute !important;
}
.pos-relative{
  position: absolute !important;
}
.pos-fixed{
  position: fixed !important;
}
.pos-sticky{
  position: sticky !important;
}
