#side-panel{
  border-right: 1px solid rgb(48, 48, 48);
  overflow-y: auto;
  max-height: 100vh;
}
.bg-image {
  background-image: url("/assets/images/chat-bg.png");
  background-size: 35%;
  background-position: center;
  background-repeat: repeat;
  mix-blend-mode: unset;
}
